.privacy-container {
   margin: 0.5% 10%;
    padding: 2rem;
    color: #FFFFFF;
}

.privacy-container h1,
.privacy-container h2,
.privacy-container h3 {
    color: #FFFFFF;
}

.privacy-container a {
    color: lightblue;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .privacy-container {
        margin: 0;
    }
}
