.wrapLink {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    height: 100px;
}

.noActive {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.active {
    text-decoration: none;
    color: #4EFFEA;
    font-weight: bold;
}
