.footer {
    width: 100%;
    height: 100px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.textFooter {
    color: #FFFFFF;
}

.text {
    color: lightblue;
}

@media (max-width: 768px) {
    .container {
        gap: 2px;
    }
}
